.header {
  padding: 12px 24px;
  background-color: #f6f8fa;
  border-bottom: 2px solid #d4dae1;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #8a8e8e;
}

.logo:hover {
  color: #646565;
}

.btn {
  border: 1px solid #d4dae1;
  border-radius: 4px;
  padding: 4px 8px;
  color: #646565;
  cursor: pointer;
  text-wrap: nowrap;
}

.btn:hover {
  border: 1px solid #a1a7ad;
  color: #444444;
}
